doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Title
    link(href='vendor.css', rel='stylesheet')
    link(rel="stylesheet",href="#{locals['dist/main.css'].substr(5)}")
  body
    script(src="#{locals['dist/main.js'].substr(5)}")
