doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Title
    link(href='vendor.css', rel='stylesheet')
    link(href='main.css', rel='stylesheet')
  body
    script(src='main.js')